{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage podt</title>
    <link rel="stylesheet" href="{% static 'css/verify.css' %}">

</head>
<body>
    
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Name Field -->
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>

        <!-- Video Field -->
        <label for="video">Video:</label><br>
        <input type="file" id="video" name="video" accept="video/*" required><br><br>

        <label for="type">type</label><br>
        <select name="type">
            <option value="upperbody">upper body</option>
            <option value="lowerbody">lower body</option>
            <option value="abs">abs</option>

        </select>

        
        <label for="day">day</label><br>
        <select name="workoutday">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
        </select>
        


        <!-- Description Field -->
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>

        <!-- Submit Button -->
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>

