{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booked users</title>
    <link rel="stylesheet" href="{% static 'css/verify.css' %}">
   
</head>
<body>
<div class="main">
    <h2>Trainer-booking</h2>
    <table border="1" >
        <tr>
            <th>No</th>
            <th>TRAINER</th>
            <th>Username</th>
            <th>Date & Time </th>
            <th>Status</th>
            <th>Details</th>
            
        </tr>

        {% for i in val %}
        <tr class="one">
            <td>{{forloop.counter}}</td>
            <td>{{i.TRAINER.name}}</td>
            <td>{{i.USER.name}}</td>
            <td>{{i.date}} {{i.time}}</td>
            <td>{{i.Status}}</td>
            <td><a href="/Dietitionuser/{{i.USER.id}}">details</a> </td>
            
        
        </tr>
        {% endfor %}
       
        
    </table>
</div>
</body>
</html>