{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer</title>
    <link rel="stylesheet" href="{% static 'css/logint.css' %}">
</head>
<body>
    <!-- logint.html -->
<div class="switch">
    <a href="/Logind" id="dietitionTab"><h3>Dietition</h3></a>
    <div class="divider"></div>
    <a href="/Logint" id="trainerTab"><h3>Trainer</h3></a>
</div>

    
    <div class="one">
        
        <form action="" method="post">
             {% csrf_token %}
            <h2>Register For Trainer</h2>

            <label for="email">Name:</label><br>
            <input type="text" id="txt" name="name" required placeholder="Enter your Name"><br>

            <label for="age">Age:</label><br>
            <input type="number" id="age" name="age" required placeholder="Enter your Age"><br>

            <label for="phone">Phone number:</label><br>
            <input type="number" id="phone" name="phone" required placeholder="Enter your Phone number"><br>
            
            <label for="certificate">Upload Certificate:</label><br>
            <input type="file" id="certificate" name="certificate" required placeholder="Enter Certification level here"><br> 
            
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required placeholder="Enter your email"><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required placeholder="Enter password"><br><br>

            <button type="submit">Register</button>
        </form>
    </div>
</body>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const switchLinks = document.querySelectorAll('.switch a');
    
    // Set active class for the Trainer tab
    const currentUrl = window.location.href;
    if (currentUrl.includes('logint.html')) {
        document.getElementById('trainerTab').classList.add('active');
    }

    // Event listener for click on the tabs
    switchLinks.forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault(); // Prevent default link behavior
            
            // Remove active class from all links
            switchLinks.forEach(link => {
                link.classList.remove('active');
            });

            // Add active class to the clicked link
            this.classList.add('active');
            
            // Navigate to the clicked link
            window.location.href = this.getAttribute('href');
        });
    });
});

</script>
</html>