<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>name</th>
            <th>video</th>
            <th>description</th>
            <th>add&edit</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button">add</button><button type="button">edit</button></td>
        </tr>
    </table>

</body>
</html>