{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage podt</title>
    <link rel="stylesheet" href="{% static 'css/verify.css' %}">

</head>
<body>
    <table border="1">
        <tr>
            <th>name</th>
            <th>video</th>
            <th>description</th>
            <!-- <th>edit</th> -->
        </tr>
        {%for i in val%}
        <tr>
            <td>{{i.name}}</td>
            <td><video controls>
                <source src="{{i.video.url}}" type="video/mp4">
            </video></td>
            <td>{{i.description}}</td>
            <!-- <td>
                <a href="/Editpost/{{i.id}}" class="green">EDIT</a>  -->

        </tr>
        {% endfor %}
        <br>
        <br>
        <a href="/Addpost" class="green">ADD</a> 
        
    </table>

</body>
</html>