<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>user personal details</h2>
    <table border="1">
        <tr>
            <th>USER</th>
            <th>height</th>
            <th>weight</th>
            <th>calorie</th>
            <th>preference</th>
            <th>health_issue</th>
            <th>chat</th>

        </tr>

        {% for i in val %}
        <tr>
            <td>{{i.USER.name}}</td>
            <td>{{i.height}}</td>
            <td>{{i.weight}}</td>
            <td>{{i.calorie}}</td>
            <td>{{i.preference}}</td>
            <td>{{i.health_issue}}</td>
            <td><button type="button">chat</button></td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>