<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dietition</title>
    <link rel="stylesheet" href="logind.css">
</head>
<body>
    <h2>Register For Dietitions</h2>
    <div class="one">
        
        <form>
            <label for="email">Name:</label><br>
            <input type="text" id="txt" name="name" required placeholder="Enter your Name"><br>

            <label for="age">Age:</label><br>
            <input type="number" id="age" name="age" required placeholder="Enter your Age"><br>

            <label for="phone">Phone number:</label><br>
            <input type="number" id="phone" name="phone" required placeholder="Enter your Phone number"><br>
            
            <label for="certificate">Upload Certificate:</label><br>
            <input type="file" id="certificate" name="certificate" required placeholder="Enter Certification level here"><br> 
            
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required placeholder="Enter your email"><br>

            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required placeholder="Enter password"><br><br>

            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>