<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint</title>
    <link rel="stylesheet" href="notification.css"></link>
</head>
<body>
    
    <table border="1">
        <tr>
            <!-- <th>sl No.</th>
            <th>username</th> -->
            <th>Complaint</th>
            <th>reply</th>
            

        </tr>
    </tr>
    {% for i in val%}
    <tr class="one">
        <!-- <td></td>
        <td></td>
        <td></td> -->
        <td>{{i.complaint}}</td>
        <td></td>
    
    <td><a href="Reply">reply</a> </td>
    </tr>
    {%endfor%}
    </table>
</body>
</html>